body {
    font-family: Roboto, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #747474;
}

.header {
    width: 100%;
    background-color: white;
    margin-top: 17px;
    position: sticky;
}

h1,
h2,
h3,
h4 {
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
}

.img_top {
    width: 267px;
    height: 31px;
    margin-left: 458px;
}

.ul_list li {
    display: inline;
    padding-left: 15px;
}

.ul_list {
    margin-top: -42px;
    margin-left: 59%;
}

.ul_list a {
    text-decoration: none;
    color: #ababab;
    font-size: 17px;
}


/* IMG MIDDLE END OF HEADER */

.img_middle {
    margin-left: 48.5%;
    margin-top: 2%;
}

.middle_content {
    margin-left: 0;
    margin-top: 60px;
}

.middle_content h2 {
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 5px;
    color: #00b39b;
}

#container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

.p_1 {
    margin-right: -22%;
    line-height: 28px;
}

.p_2 {
    line-height: 28px;
}


/* 3PANELS */

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

.sec_1 {
    background-color: #00b39b;
    border-radius: 8px;
    width: 320px;
    height: 315px;
    color: white;
    margin-right: -90px;
}

.img_sec_1 {
    margin-left: 17px;
    margin-top: 15px;
}

#p_sec_1 {
    font-size: 30px;
    margin-left: 15px;
}

#p2_sec_1 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin-left: 15px;
}

select {
    color: white;
}

#selecter select {
    border: none;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: underline;
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
}

#selecter_sec1 {
    margin-top: 56px;
}

.sec_2 {
    background-color: #3d83df;
    border-radius: 8px;
    width: 320px;
    height: 315px;
    color: white;
}

#selecter_sec2 {
    margin-top: 83px;
}

.sec_3 {
    background-color: #1b2734;
    border-radius: 8px;
    width: 320px;
    height: 315px;
    color: white;
    margin-left: -90px;
}

#selecter_sec_3,
#selecter_sec_3_1 {
    border: none;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: underline;
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
}

#selecter2_sec_3 {
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: underline;
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
}

.h3_table {
    margin-left: 23%;
    margin-top: 3%;
    width: 207px;
    color: #00b39b;
}

.content_middle_2 {
    margin-left: 37%;
    margin-top: -100px;
    color: #747474;
}

.content_middle_2 svg {
    fill: #747474;
    width: 173px;
    height: 52px;
    padding: 16px 11px;
}

a {
    text-decoration: none;
}

.content_middle_2 svg:hover {
    fill: #00b39b;
}

.content_middle_2 img {
    background: none;
    padding: 16px 11px;
}

.content_middle_2 img:hover {
    background: local;
}

.stats_content {
    background: #e5faf8;
    background-image: linear-gradient(-45deg, rgba(0, 204, 177, .01) 5%, rgba(61, 199, 223, .1));
    overflow: hidden;
    padding-top: 35px;
    height: 601px;
}

.header_stats {
    margin-left: 23%;
    margin-top: 3%;
    color: #00b39b;
    font-size: 15px;
}

.header_stats p {
    color: black;
}

.big_logo {
    margin-left: 23%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.trim {
    width: 1777px;
    height: 435px;
    overflow: hidden;
}

#a_1 {
    border: black;
    border-style: dotted;
    width: 227px;
    height: 254px;
}

#a_1 {
    position: absolute;
    border: black;
    width: 227px;
    height: 254px;
    margin-top: -29%;
    margin-left: 55%;
    background-color: white;
    color: #00b39b;
}

.a_img {
    margin-left: 105px;
    margin-top: 8px;
}

#a_1_title {
    text-align: center;
    font-size: 25px;
}

#a_1_p {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    color: #747474;
}

#a_2 {
    position: absolute;
    border: black;
    width: 227px;
    height: 254px;
    margin-top: -31%;
    margin-left: 68%;
    background-color: white;
    color: #00b39b;
}

.a_2_img {
    margin-left: 90px;
    margin-top: 8px;
}

#a_2_title {
    text-align: center;
    font-size: 25px;
}

#a_2_p {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    color: #747474;
}

#a_3 {
    position: absolute;
    border: black;
    width: 227px;
    height: 254px;
    margin-top: -14%;
    margin-left: 55%;
    background-color: white;
    color: #00b39b;
}

.a_3_img {
    margin-left: 90px;
    margin-top: 8px;
}

#a_3_title {
    text-align: center;
    font-size: 25px;
}

#a_3_p {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    color: #747474;
}

#a_4 {
    position: absolute;
    border: black;
    width: 227px;
    height: 254px;
    margin-top: -16%;
    margin-left: 68%;
    background-color: white;
    color: #00b39b;
}

.a_4_img {
    margin-left: 90px;
    margin-top: 8px;
}

#a_4_title {
    text-align: center;
    font-size: 25px;
}

#a_4_p {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    color: #747474;
}

.middle_middle_content {
    margin-top: 4%;
    text-align: center;
}

.middle_middle_content h2 {
    color: #00b39b;
}

.middle_middle_content p {
    color: #747474;
}


/*  Other FlexBox  */

.another_container {
    display: flex;
    margin-left: 25%;
    padding-left: 10px;
}

.another_container p {
    font-size: 13px;
    text-align: center;
}

.sec_4 {
    padding: 10px 10px;
}

.sec_5 {
    padding: 10px 10px;
}

.sec_6 {
    padding: 10px 10px;
}

.sec_7 {
    padding: 10px 10px;
}

.sec_8 {
    padding: 10px 10px;
}

.sec_9 {
    padding: 10px 10px;
}

.sec_10 {
    padding: 10px 10px;
}

.sec_11 {
    padding: 10px 10px;
}

.btn1 {
    margin-left: 198px;
    margin-top: -30px;
    position: absolute;
    height: 35px;
}

#h3_sec_4 {
    padding-top: 3px;
}

.sec_12 {
    margin-left: 38%;
    margin-top: 3%;
}

.sec_12 p {
    font-size: 30px;
    letter-spacing: 3px;
}

.btn2 {
    margin-left: 13%;
}

.btn1:hover {
    color: blue;
}

.btn2:hover {
    color: blue;
}

.hr {
    width: 100%;
    margin-top: 5%;
}

.footer_sec {
    text-align: center;
    color: #747474;
}

.footer_sec a {
    text-decoration: none;
    font-size: 12px;
}